/arrip.py
/bs.py
/cs.py
/db.py
/func.py
/git.excalidraw
/id.py
/input.py
/jumpstatements.py
/list.py
/list1.py
/max.excalidraw
/mergedarray.excalidraw
/mergedarray.py
/mit.py
/nested.py
/op.drawio
/prime.py
/print.py
/sample.drawio
/selectionsort.py
/tryexcept.py
/__pycache__